<li>
  Name: <%= user.name %>
  <span class="profile-link mx-2">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link mx-2' %>
    <%= link_to friendship?(user)[0], friendship?(user)[1], method: friendship?(user)[2], class: 'profile-link mx-2'%>
  </span>
 
</li>